<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marveler</title>
    <link rel="stylesheet" href="../CSS/estilo.css">
    <link rel="shortcut icon" href="../Assets/Logotipos/Marveler Icon.png">
</head>
<body>
    <header class="navBack">
		<div id="top">
            <img class="logo" src="../Assets/Logotipos/Marveler Logo.png" alt="logo sitio">
        </div>	
		<nav>
            <ul class="menu">
                <li class="item"><a href="../index.html">Inicio</a></li>
			    <li class="item"><a href="../Views/comics.html">Comics</a></li>
			    <li class="item"><a href="../Views/mcu.html">MCU+</a>
			        <ul class="submenu">
                        <li class="sub_i"><a href="../Views/peliculas.html">Peliculas</a></li>
			            <li class="sub_i"><a href="../Views/series.html">Series TV</a></li>
			        </ul>
			    </li>
			    <li class="item"><a href="../Views/tierList.html">Tier list</a></li>
			</ul> 
		</nav>
	</header>

    <main class="main">
        <section class="sectionComics">
            <h3>Comics</h3>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/AgeofUltron1_.jpg" alt="AgeofUltron1">
                <p class="nombre">Age of Ultron</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/Avengers7.jpg" alt="Avengers7">
                <p class="nombre">Avengers 7</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/Avengers31_.jpg" alt="Avengers31">
                <p class="nombre">Avengers 31</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/Avengers56_.jpg" alt="Avengers56">
                <p class="nombre">Avengers 56</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/AvengersOriginsVision1_.jpg" alt="AvengersOriginsVision1">
                <p class="nombre">Avengers Origins Vision</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/AvengersUnlimitedInfinityComic_.jpg" alt="AvengerUnlimitedInfinity">
                <p class="nombre">Avengers Unlimited Infinity</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/BlackPanther1_.jpg" alt="BlackPanther1">
                <p class="nombre">Black Panther</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/BlackWidow1_.jpg" alt="BlackWidow1">
                <p class="nombre">Black Widow</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/CaptainCarter3_.jpg" alt="CaptainCarter3">
                <p class="nombre">Captain Carter 3</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/CloakandDagger_.jpg" alt="CloakandDagger">
                <p class="nombre">Cloak and Dagger</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/Daredevil.jpg" alt="Daredevil">
                <p class="nombre">Daredevil</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/Daredevil1_.jpg" alt="Daredevil1">
                <p class="nombre">Daredevil #1</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/Deadpool_BadBlood4_.jpg" alt="DeadpoolBadBlood4">
                <p class="nombre">Deadpool Bad Blood 4</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/Devil.jpg" alt="Devil">
                <p class="nombre">Devil Reign</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/DoctorStrange1_.jpg" alt="DoctorStrange">
                <p class="nombre">DoctorStrange</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/EdgeofSpiderVerse.jpg" alt="EdgeofSpiderVerse">
                <p class="nombre">Edge of Spider Verse</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/GhostRider21_.jpg" alt="GhostRider21">
                <p class="nombre">Ghost Rider 21</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/Giant-SizeX-Men1_.jpg" alt="Giant-SizeX-Men">
                <p class="nombre">Giant-Size X-Men</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/Hulk4_.jpg" alt="Hulk4">
                <p class="nombre">Hulk 4</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/Hulk7_.jpg" alt="Hulk7">
                <p class="nombre">Hulk 7</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/HulkSmashAvengers(2011) 1.jpg" alt="HulkSmashAvengers">
                <p class="nombre">Hulk Smash Avengers</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/ImmortalHulk1_.jpg" alt="ImmortalHulk">
                <p class="nombre">Immortal Hulk</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/InfinityWarsPrime1_.jpg" alt="InfinityWarsPrime">
                <p class="nombre">Infinity Wars Prime</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/IronCat.jpg" alt="IronCat">
                <p class="nombre">Iron Cat</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/IronFist5_.jpg" alt="IronFist5">
                <p class="nombre">Iron Fist 5</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/JessicaJones1_.jpg" alt="JessicaJones">
                <p class="nombre">Jessica Jones</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/KnightsofX5_.jpg" alt="KnightsofX5">
                <p class="nombre">Knights of X 5</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/Legion1_.jpg" alt="Legion">
                <p class="nombre">Legion</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/LegionofX1_.jpg" alt="LegionofX1">
                <p class="nombre">Legion of X 1</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/MechStrike_MonsterHunters3_.jpg" alt="MechStrikeMonsterHunters3">
                <p class="nombre">MS Monster Hunters 3</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/MightyThor1_.jpg" alt="MightyThor">
                <p class="nombre">Mighty Thor</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/MoonKnight_Black,White&Blood4_.jpg" alt="MoonKnight_Black,White&Blood4">
                <p class="nombre">Moon Knight B,W&B 4</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/MoonKnight11_.jpg" alt="MoonKnight11">
                <p class="nombre">Moon Knight 11</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/MsMarvel&MoonKnight.jpg" alt="MsMarvel&MoonKnight">
                <p class="nombre">Ms Marvel & MoonKnight</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Comics/Punisher3_.jpg" alt="Punisher3">
                <p class="nombre">Punisher 3</p>
            </div>
            <div class="comic">
                <img class="poster" src="../Assets/Logotipos/Coming Soon.png" alt="Coming Soon">
                <p class="nombre">Coming Soon</p>
            </div>  
        </section>
        
        
    </main> 
    <footer>
        <a class="foot" href="#top">Ir arriba</a>
        <a class="foot" href="https://www.marvel.com/">Marvel Oficial</a>
    </footer>
</body>
</html>
