<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marveler</title>
    <link rel="stylesheet" href="../CSS/estilo.css">
    <link rel="shortcut icon" href="../Assets/Logotipos/Marveler Icon.png">
</head>
<body>
    <header class="navBack">
		<div id="top">
            <img class="logo" src="../Assets/Logotipos/Marveler Logo.png" alt="logo sitio">
        </div>	
		<nav>
            <ul class="menu">
                <li class="item"><a href="../index.html">Inicio</a></li>
			    <li class="item"><a href="../Views/comics.html">Comics</a></li>
			    <li class="item"><a href="../Views/mcu.html">MCU+</a>
			        <ul class="submenu">
                        <li class="sub_i"><a href="../Views/peliculas.html">Peliculas</a></li>
			            <li class="sub_i"><a href="../Views/series.html">Series TV</a></li>
			        </ul>
			    </li>
			    <li class="item"><a href="../Views/tierList.html">Tier list</a></li>
			</ul> 
		</nav>
	</header>

    <main class="main">
        <section class="sectionMCU">
            <h3>Guia cronologica del MCU</h3>
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/01_CaptainAmerica_TheFirstAvenger.jpg" alt="CaptainAmerica_TheFirstAvenger">
                <p class="nombre">Captain America</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/02_CaptainMarvel.jpg" alt="CaptainMarvel">
                <p class="nombre">Captain Marvel</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/03_IronMan.jpg" alt="IronMan">
                <p class="nombre">Iron Man</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/04_IronMan2.jpg" alt="IronMan2">
                <p class="nombre">Iron Man 2</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/05_TheIncredibleHulk.jpg" alt="TheIncredibleHulk">
                <p class="nombre">The Incredible Hulk</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/06_Thor.jpg" alt="Thor">
                <p class="nombre">Thor</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/07_TheAvengers.jpg" alt="TheAvengers">
                <p class="nombre">The Avengers</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/08_IronMan3.jpg" alt="IronMan3">
                <p class="nombre">Iron Man 3</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/09_Thor_TheDarkWorld.jpg" alt="Thor_TheDarkWorld">
                <p class="nombre">Thor:the Dark World</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/10_CaptainAmerica_TheWinterSoldier.jpg" alt="CaptainAmerica_TheWinterSoldier">
                <p class="nombre">CapA:the Winter Soldier</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/11_GuardiansOfTheGalaxy.jpg" alt="GuardiansOfTheGalaxy">
                <p class="nombre">Guardians of the Galaxy</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/12_GuardiansOfTheGalaxy2.jpg" alt="GuardiansOfTheGalaxy2">
                <p class="nombre">Guardians of the Galaxy 2</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/13_Avengers_AgeOfUltron.jpg" alt="Avengers_AgeOfUltron">
                <p class="nombre">Avengers:Age of Ultron</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/14_Ant-Man.jpg" alt="Ant-Man">
                <p class="nombre">Ant-Man</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/15_CaptainAmerica_CivilWar.jpg" alt="CaptainAmerica_CivilWar">
                <p class="nombre">Captain America: CivilWar</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/16_BlackWidow.jpg" alt="BlackWidow">
                <p class="nombre">Black Widow</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/17_Spider-Man_Homecoming.jpg" alt="Spider-Man_Homecoming">
                <p class="nombre">Spider-Man: Homecoming</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/18_BlackPanther.jpg" alt="BlackPanther">
                <p class="nombre">Black Panther</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/19_DoctorStrange.jpg" alt="DoctorStrange">
                <p class="nombre">Doctor Strange</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/20_Ant-ManAndTheWasp.jpg" alt="Ant-ManAndTheWasp">
                <p class="nombre">Ant-Man and the Wasp</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/21_Thor_Ragnarok.jpg" alt="Thor_Ragnarok">
                <p class="nombre">Thor: Ragnarok</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/22_Avengers_InfinityWar.jpg" alt="Avengers_InfinityWar">
                <p class="nombre">Avengers: Infinity War</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/23_Avengers_Endgame.jpg" alt="Avengers_Endgame">
                <p class="nombre">Avengers Endgame</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/24_Spider-Man_FarFromHome.jpg" alt="Spider-Man_FarFromHome">
                <p class="nombre">Spider-Man: FFH</p>
            </div>          
            <div class="serie">
                <img class="poster" src="../Assets/Series/24a_Loki.jpg" alt="Loki">
                <p class="nombre">Loki</p>
            </div>          
            <div class="serie">
                <img class="poster" src="../Assets/Series/24b_WandaVision.jpg" alt="WandaVision">
                <p class="nombre">WandaVision</p>
            </div>          
            <div class="serie">
                <img class="poster" src="../Assets/Series/24c_FalconAndTheWinterSoldier.jpg" alt="FalconAndTheWinterSoldier">
                <p class="nombre">Falcon & Winter Soldier</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/25_Spider-Man_NoWayHome.jpg" alt="Spider-Man_NoWayHome">
                <p class="nombre">Spider-Man: NWH</p>
            </div>          
            <div class="serie">
                <img class="poster" src="../Assets/Series/25a_WhatIf.jpg" alt="WhatIf">
                <p class="nombre">What If</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/26_Shan-ChiAndTheLegendOfTheTenRings.jpg" alt="Shan-ChiAndTheLegendOfTheTenRings">
                <p class="nombre">Shan-Chi</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/27_Eternals.jpg" alt="Eternals">
                <p class="nombre">Eternals</p>
            </div>          
            <div class="serie">
                <img class="poster" src="../Assets/Series/27a_Hawkeye.jpg" alt="Hawkeye">
                <p class="nombre">Hawkeye</p>
            </div>          
            <div class="serie">
                <img class="poster" src="../Assets/Series/27b_MoonKnight.jpg" alt="MoonKnight">
                <p class="nombre">Moon Knight</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/28_DoctorStrangeInTheMultiverseOfMadness.jpg" alt="DoctorStrangeInTheMultiverseOfMadness">
                <p class="nombre">Doctor Strange MoM</p>
            </div>          
            <div class="serie">
                <img class="poster" src="../Assets/Series/28a_MsMarvel.jpg" alt="MsMarvel">
                <p class="nombre">Ms Marvel</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Movies/29_Thor_LoveAndThunder.jpg" alt="Thor_LoveAndThunder">
                <p class="nombre">Thor: Love and Thunder</p>
            </div>          
            <div class="serie">
                <img class="poster" src="../Assets/Series/29a_IAmGroot.jpg" alt="IAmGroot">
                <p class="nombre">I Am Groot</p>
            </div>          
            <div class="serie">
                <img class="poster" src="../Assets/Series/29b_SheHulk.jpg" alt="SheHulk">
                <p class="nombre">She Hulk</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Logotipos/Coming Soon.png" alt="Coming Soon">
                <p class="nombre">Coming Soon</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Logotipos/Coming Soon.png" alt="Coming Soon">
                <p class="nombre">Coming Soon</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Logotipos/Coming Soon.png" alt="Coming Soon">
                <p class="nombre">Coming Soon</p>
            </div>          
            <div class="pelicula">
                <img class="poster" src="../Assets/Logotipos/Coming Soon.png" alt="Coming Soon">
                <p class="nombre">Coming Soon</p>
            </div>          
                                
        </section>

    </main> 
    <footer>
        <a class="foot" href="#top">Ir arriba</a>
        <a class="foot" href="https://www.marvel.com/">Marvel Oficial</a>
    </footer>
</body>
</html>