<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marveler</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/estilo.css">
    <link rel="shortcut icon" href="../Assets/Logotipos/marvelerIcon.png">
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #04070a;"> 
            <div class="container-fluid">
                <!-- navbar-brand -->
              <a class="navbar-brand" href="#">
                <img class="logo " src="../Assets/Logotipos/marvelerLogo.png" alt="logo sitio" width="200">
              </a>
                <!-- navbar-toggler -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item btn btn-outline-warning"  style=" --bs-btn-font-size: 1rem;">
                    <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item btn btn-outline-danger">
                    <a class="nav-link" href="../Views/comics.html">Comics</a>
                  </li>
                  <li class="nav-item dropdown btn btn-outline-danger">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        MCU
                    </a>
                    <ul class="dropdown-menu" style="background-color: #dc3545;">
                      <li><a class="dropdown-item" href="../Views/movies.html">Movies</a></li>
                      <li><a class="dropdown-item" href="../Views/series.html">Series TV</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="../Views/mcu.html">MCU+</a></li>
                    </ul>
                  </li>
                  <li class="nav-item btn-outline-secondary" style="margin-top: .4rem;">
                    <a class="nav-link disabled">Characters</a>
                  </li>
                </ul>
                <!-- search -->
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
                  </form>
                <!-- loggin -->
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                  </div>
              </div>
            </div>
          </nav>
    </header>

    <main class="main">
        <div class="heightcontainer">

            <section class="sectionMCU">
                <h3>Guia cronologica de Series</h3>      
                <div class="serie">
                    <img class="poster" src="../Assets/Series/24a_Loki.jpg" alt="Loki">
                    <p class="nombre">Loki</p>
                </div>          
                <div class="serie">
                    <img class="poster" src="../Assets/Series/24b_WandaVision.jpg" alt="WandaVision">
                    <p class="nombre">WandaVision</p>
                </div>          
                <div class="serie">
                    <img class="poster" src="../Assets/Series/24c_FalconAndTheWinterSoldier.jpg" alt="FalconAndTheWinterSoldier">
                    <p class="nombre">Falcon & Winter Soldier</p>
                </div>          
                <div class="serie">
                    <img class="poster" src="../Assets/Series/25a_WhatIf.jpg" alt="WhatIf">
                    <p class="nombre">What If</p>
                </div>                   
                <div class="serie">
                    <img class="poster" src="../Assets/Series/27a_Hawkeye.jpg" alt="Hawkeye">
                    <p class="nombre">Hawkeye</p>
                </div>          
                <div class="serie">
                    <img class="poster" src="../Assets/Series/27b_MoonKnight.jpg" alt="MoonKnight">
                    <p class="nombre">Moon Knight</p>
                </div>                   
                <div class="serie">
                    <img class="poster" src="../Assets/Series/28a_MsMarvel.jpg" alt="MsMarvel">
                    <p class="nombre">Ms Marvel</p>
                </div>                  
                <div class="serie">
                    <img class="poster" src="../Assets/Series/29a_IAmGroot.jpg" alt="IAmGroot">
                    <p class="nombre">I Am Groot</p>
                </div>          
                <div class="serie">
                    <img class="poster" src="../Assets/Series/29b_SheHulk.jpg" alt="SheHulk">
                    <p class="nombre">She Hulk</p>
                </div>          
                <div class="pelicula">
                    <img class="poster" src="../Assets/Logotipos/Coming Soon.png" alt="Coming Soon">
                    <p class="nombre">Coming Soon</p>
                </div>          
                <div class="pelicula">
                    <img class="poster" src="../Assets/Logotipos/Coming Soon.png" alt="Coming Soon">
                    <p class="nombre">Coming Soon</p>
                </div>          
                <div class="pelicula">
                    <img class="poster" src="../Assets/Logotipos/Coming Soon.png" alt="Coming Soon">
                    <p class="nombre">Coming Soon</p>
                </div>                   
                                    
            </section>
        </div>

    </main> 
    <footer class="py-3 navbar-dark " style="background-color: #04070a;">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="#top" class="nav-link px-2 text-muted">Ir arriba</a></li>
          <li class="nav-item"><a href="https://www.marvel.com/" class="nav-link px-2 text-muted">Marvel Oficial</a></li>
        </ul>
        <p class="text-center text-muted">&copy; Todos los derechos pertenecen a Marvel Company</p>
      </footer>
      
      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>