<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marveler</title>
    <link rel="stylesheet" href="../CSS/estilo.css">
    <link rel="shortcut icon" href="../Assets/Logotipos/Marveler Icon.png">
</head>
<body>
    <header class="navBack">
		<div id="top">
            <img class="logo" src="../Assets/Logotipos/Marveler Logo.png" alt="logo sitio">
        </div>	
		<nav>
            <ul class="menu">
                <li class="item"><a href="../index.html">Inicio</a></li>
			    <li class="item"><a href="../Views/comics.html">Comics</a></li>
			    <li class="item"><a href="../Views/mcu.html">MCU+</a>
			        <ul class="submenu">
                        <li class="sub_i"><a href="../Views/peliculas.html">Peliculas</a></li>
			            <li class="sub_i"><a href="../Views/series.html">Series TV</a></li>
			        </ul>
			    </li>
			    <li class="item"><a href="../Views/tierList.html">Tier list</a></li>
			</ul> 
		</nav>
	</header>

    <main class="main">
        <section class="sectionTierList">
            <h3>Top Personajes</h3>
            <div class="character">
                <img class="poster" src="../Assets/Characters/Spiderman.png" alt="SpiderMan">
                <p class="nombre">SpiderMan</p>
            </div>
            <div class="character">
                <img class="poster" src="../Assets/Characters/Tony Stark.png" alt="TonyStark">
                <p class="nombre">Tony Stark</p>
            </div>
            <div class="character">
                <img class="poster" src="../Assets/Characters/Groot.jpg" alt="Groot">
                <p class="nombre">Groot</p>
            </div>
            <div class="character">
                <img class="poster" src="../Assets/Characters/Doctor Strange.png" alt="DoctorStange">
                <p class="nombre">Doctor Stange</p>
            </div>   
            <div class="character">
                <img class="poster" src="../Assets/Characters/Daredevil.png" alt="Daredevil">
                <p class="nombre">Daredevil</p>
            </div> 
            <div class="character">
                <img class="poster" src="../Assets/Characters/Spiderman.png" alt="SpiderMan">
                <p class="nombre">SpiderMan</p>
            </div>
            <div class="character">
                <img class="poster" src="../Assets/Characters/Tony Stark.png" alt="TonyStark">
                <p class="nombre">Tony Stark</p>
            </div>
            <div class="character">
                <img class="poster" src="../Assets/Characters/Groot.jpg" alt="Groot">
                <p class="nombre">Groot</p>
            </div>
            <div class="character">
                <img class="poster" src="../Assets/Characters/Doctor Strange.png" alt="DoctorStange">
                <p class="nombre">Doctor Stange</p>
            </div>   
            <div class="character">
                <img class="poster" src="../Assets/Characters/Daredevil.png" alt="Daredevil">
                <p class="nombre">Daredevil</p>
            </div> 
            <div class="character">
                <img class="poster" src="../Assets/Characters/Spiderman.png" alt="SpiderMan">
                <p class="nombre">SpiderMan</p>
            </div>
            <div class="character">
                <img class="poster" src="../Assets/Characters/Tony Stark.png" alt="TonyStark">
                <p class="nombre">Tony Stark</p>
            </div>
            <div class="character">
                <img class="poster" src="../Assets/Characters/Groot.jpg" alt="Groot">
                <p class="nombre">Groot</p>
            </div>
            <div class="character">
                <img class="poster" src="../Assets/Characters/Doctor Strange.png" alt="DoctorStange">
                <p class="nombre">Doctor Stange</p>
            </div>   
            <div class="character">
                <img class="poster" src="../Assets/Characters/Daredevil.png" alt="Daredevil">
                <p class="nombre">Daredevil</p>
            </div> 
            <div class="character">
                <img class="poster" src="../Assets/Characters/Spiderman.png" alt="SpiderMan">
                <p class="nombre">SpiderMan</p>
            </div>
            <div class="character">
                <img class="poster" src="../Assets/Characters/Tony Stark.png" alt="TonyStark">
                <p class="nombre">Tony Stark</p>
            </div>
            <div class="character">
                <img class="poster" src="../Assets/Characters/Groot.jpg" alt="Groot">
                <p class="nombre">Groot</p>
            </div>
            <div class="character">
                <img class="poster" src="../Assets/Characters/Doctor Strange.png" alt="DoctorStange">
                <p class="nombre">Doctor Stange</p>
            </div>   
            <div class="character">
                <img class="poster" src="../Assets/Characters/Daredevil.png" alt="Daredevil">
                <p class="nombre">Daredevil</p>
            </div> 
            <div class="character">
                <img class="poster" src="../Assets/Characters/Spiderman.png" alt="SpiderMan">
                <p class="nombre">SpiderMan</p>
            </div>
            <div class="character">
                <img class="poster" src="../Assets/Characters/Tony Stark.png" alt="TonyStark">
                <p class="nombre">Tony Stark</p>
            </div>
            <div class="character">
                <img class="poster" src="../Assets/Characters/Groot.jpg" alt="Groot">
                <p class="nombre">Groot</p>
            </div>
            <div class="character">
                <img class="poster" src="../Assets/Characters/Doctor Strange.png" alt="DoctorStange">
                <p class="nombre">Doctor Stange</p>
            </div>   
            <div class="character">
                <img class="poster" src="../Assets/Characters/Daredevil.png" alt="Daredevil">
                <p class="nombre">Daredevil</p>
            </div> 
            <div class="character">
                <img class="poster" src="../Assets/Characters/Spiderman.png" alt="SpiderMan">
                <p class="nombre">SpiderMan</p>
            </div>
            <div class="character">
                <img class="poster" src="../Assets/Characters/Tony Stark.png" alt="TonyStark">
                <p class="nombre">Tony Stark</p>
            </div>
            <div class="character">
                <img class="poster" src="../Assets/Characters/Groot.jpg" alt="Groot">
                <p class="nombre">Groot</p>
            </div>
            <div class="character">
                <img class="poster" src="../Assets/Characters/Doctor Strange.png" alt="DoctorStange">
                <p class="nombre">Doctor Stange</p>
            </div>   
            <div class="character">
                <img class="poster" src="../Assets/Characters/Daredevil.png" alt="Daredevil">
                <p class="nombre">Daredevil</p>
            </div> 



    </main> 
    <footer>
        <a class="foot" href="#top">Ir arriba</a>
        <a class="foot" href="https://www.marvel.com/">Marvel Oficial</a>
    </footer>
</body>
</html>
